body {
    --primary-0:#FFFFFF;
    --primary-100:#d6e4fd;
    --primary-200:#aec8fc;
    --primary-300:#85a8f8;
    --primary-400:#658df1;
    --primary-500:#3563E9;
    --primary-600:#264bc8;
    --primary-700:#1a37a7;
    --primary-800:#102587;
    --primary-900:#0a196f;

    --secondary-100:#E0E9F4;
    --secondary-200:#C3d4e9;
    --secondary-300:#90a3bf;
    --secondary-400:#596780;
    --secondary-500:#1a202c;
    --secondary-600:#131825;
    --secondary-700:#0d121f;
    --secondary-800:#080c19;
    --secondary-900:#040815;

    background: #F6F7F9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.menu p {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.03em;
    color:var(--primary-500);
    padding: 40px 60px;
}
.menu {
    background: #FFFFFF;
    border: 1px solid rgba(195,212,233,0.4);
}
.button {
    font-weight: 400;
    font-size: 14px;
    color:var(--primary-0);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 16px;
    gap: 10px;
    border-radius: 4px;

    text-align: center;
    letter-spacing: -0.02em;

    border: 1px solid transparent;
}
.primarybutton:enabled {
   background: var(--primary-500);
}
.primarybutton:hover:enabled {
    background: var(--primary-600);
}
.primarybutton:active:enabled {
    background: var(--primary-700);
}
.primarybutton:focus:enabled {
    background: var(--primary-500);
    border: 1px solid var(--primary-100);
}
.primarybutton:disabled{
    background: var(--primary-500);
    opacity: 40%;
}
.secondarybutton {
    font-weight: 600;
}
.secondarybutton:enabled {
    border: 1px solid var(--secondary-300);
    background: white;
    color: var(--secondary-400);
}
.secondarybutton:hover:enabled {
    border: 1px solid var(--secondary-400);
    background: white;
    color: var(--secondary-500);
}
.secondarybutton:active:enabled {
    border: 1px solid var(--secondary-300);
    background: var(--primary-100);
    color: var(--secondary-500);
}
.secondarybutton:focus:enabled {
    border: 1px solid var(--primary-100);
    background: white;
    color: var(--secondary-400);
}
.secondarybutton:disabled {
    border: 1px solid var(--primary-100);
    background:white;
    color: var(--secondary-200);
}
.infos {
    display: flex;
    width: 60%;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}
.infoprinc {
    background: white;
    border-radius: 10px;
    padding: 24px;
    width: 100%;
    min-width: 475px;
}
.contenu {
    padding: 32px 32px;
    display: flex;
    gap: 32px;
    flex-direction: row;
}
.contenu h1 {
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-500);

    display: flex;
    align-items: center;
}
.contenu h2 {
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-300);

    display: flex;
    align-items: center;
}
.contenu h3 {
    font-weight: 600;
    font-size: 16px;
    color: var(--secondary-500);

    display: flex;
    align-items: center;
    padding: 32px 0px 0px 0px;   
}
.ligne {
    display: flex;
    flex-direction: row;
    gap:32px;
    justify-content: space-between;
}
.entree {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.demientr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 0px 16px 0px 0px;
}
input:not([type="radio"]){
    background: white;
    border: 1px solid var(--secondary-400);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    width: 100%;
}
select {
    background: white;
    border: 1px solid var(--secondary-400);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    width: 100%;
}
input::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-300);

    display: flex;
    align-items: center;
}
label {
    padding: 24px 0px 16px 0px;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
}
.card {
    background: white;
    border-radius: 10px;
    width: 40%;
    height: fit-content;
    padding: 24px;
}
.card h1 {
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-500);

    display: flex;
    align-items: center;
}
.card h2 {
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-300);

    display: flex;
    align-items: center;

    padding: 4px 0px 24px 0px;
}
.voiture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.voiture img {
    width: 116px;
}
.voiture p {
    font-weight: 700;
    font-size: 32px;
    color: var(--secondary-500);

    display: flex;
    align-items: center;
}
.line {
    border: 1px solid var(--secondary-100);
    margin: 24px 0px 32px 0px;
}
.prix {
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-300);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 24px 0px;
}
.sub h1 {
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-300);
}
.sub h2 {
    font-weight: 600;
    font-size: 16px;
    color: var(--secondary-500);
    
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 0px;
}
.boutonpromo {
    display: flex;
    align-items: flex-start;
    padding: 12px 0px 24px 0px;
}
.total {
    display: flex;
    justify-content: space-between;
}
.totaltext h1 {
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-500);

    display: flex;
    align-items: center;
    padding: 0px 0px;
}
.totaltext h3 {
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-300);

    display: flex;
    align-items: center;
    padding: 0px 0px;
}
.prixtot p {
    font-weight: 700;
    font-size: 32px;

    display: flex;
    align-items: center;
}
.validationfin {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    margin: 32px 0px 96px 0px;
}
.check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.check label {
    padding: 0px 0px;
}
.check input {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0px 22px 0px 0px;
    border: 1.5px solid var(--primary-300);
}
.paiement {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px 0px 0px 0px;
    gap: 24px;
}
.cb {
    background: var(--secondary-100);
    border-radius: 10px;
    padding: 24px;
}
.cb img {
    float: right;
}
.paiement input[type="radio"] {
    justify-content: flex-start;
    width: -moz-fit-content;
    width: fit-content;
    border: 1.5px solid var(--secondary-300);
}
#labelcb {
    padding: 0px 0px 0px 8px;
}
.contenucb {
    display: none;
}
#cb:checked ~ .contenucb {
    display: block;
    padding: 8px 0px 0px 0px;
}
@media screen and (max-width: 830px) 
{
    .contenu {
        justify-content: center;
        flex-direction: column-reverse;
    }
    .infoprinc {
        min-width: 240px;
    }
    .infos {
        width: 100%;
    }
    .infos h1 {
        font-size: 16px;
    }
    .infos h2 {
        font-size: 12px;
    }
    .card {
        width: 100%;
    }
    .card h1 {
        font-size: 16px;
    }
    .card h2 {
        font-size: 12px;
    }
    .voiture p {
        font-size: 20px;
    }
    .sub h1 {
        font-size: 12px;
    }
    .sub h2 {
        font-size: 16px;
    }
    .card .entree label {
        padding: 0px 0px 12px 0px;
    }
    .total h1 {
        font-size: 16px;
    }
    .total h3 {
        font-size: 12px;
    }
    .total p {
        font-size: 20px;
    }
    .ligne {
        flex-direction: column;
        gap: 0px;
    }
    .line {
        margin: 24px 0px 16px 0px;
    }
    .sub {
        padding: 0px 0px 12px 0px;
    }
    .card label {
        padding: 0px 0px 12px 0px;
    }
    .boutonpromo {
        padding: 12px 0px 12px 0px;
    }
    .entree label {
        font-size: 12px;
        padding: 24px 0px 12px 0px;
    }
    .demientr {
        width: 100%;
        padding: 0px 0px;
    }
    .demientr label {
        font-size: 12px;
        padding: 24px 0px 12px 0px;
    }
    #cb:checked ~ .contenucb {
        padding: 0px 0px 0px 0px;
    }
    .validationfin {
        margin: 24px 0px 20px 0px;
    }
    .validationfin label {
        font-size: 12px;
        color: #1F2544;
    }
    .validationfin input {
        margin: 0px 16px 0px 0px;
    }
    .check {
        background: var(--secondary-100);
        border-radius: 10px;
        padding: 25px 18px;
        width: 100%;
    }
}